<launch>

  <!-- Default argument definition to configure navigation stack -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="open_rviz" default="true"/>

  <!-- Launch robot and world -->
  <include file="$(find final_project)/launch/ME597_final_project.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rvizz" required="true"
          args="-d $(find final_project)/rviz/turtlebot3_navigation_custom.rviz"/>
  </group>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find final_project)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    <remap from="robot_description" to="robot_description" />
    <remap from="joint_states" to="joint_states" />
  </node>

  <!--Adding launch file for gmapping-->
  <include file="$(find final_project)/launch/turtlebot3_slam.launch">
    <arg name="slam_methods" value="gmapping"/>
  </include>

  <!--Execute task_1.py-->
  <!--node pkg="final_project" name="Auto mapping" type="task_1.py" output="screen"/-->

  <!--Open map file-->
  <!--arg name="map_file" default="$(find final_project)/maps/map.yaml" /-->

  <!-- Map server -->
  <!--node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/-->

  <!-- AMCL(i dont think is needed for mapping) -->
  <!--include file="$(find final_project)/launch/amcl.launch"/-->

</launch>
